@{
    ViewData["Title"] = "Home page";

    var banner = ViewData["banners"] as List<Ecommerce.Models.db.Banner>;

    var newProducts = ViewData["newProducts"] as List<Ecommerce.Models.db.Product>;

    var bestSellingProducts = ViewData["bestSellingProducts"] as List<Ecommerce.Models.db.BestSellingFinal>;

}


<!--slider area start-->
<section class="slider_section mb-63">
    <div class="slider_area slick_slider_activation" data-slick='{
            "slidesToShow": 1,
            "slidesToScroll": 1,
            "arrows": true,
            "dots": true,
            "autoplay": false,
            "speed": 300,
            "infinite": true
        }'>

        @if (banner != null)
        {

            var slider = banner.Where(x => x.Position == "slider").OrderBy(x => x.Priority).ToList();

            foreach (var item in slider)
            {
                <div class="single_slider d-flex align-items-center" data-bgimg="/images/banners/@item.ImageName">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-7">
                                <div class="slider_text">

                                    <h1>
                                        @item.Title
                                    </h1>
                                    <p>
                                        @item.Description
                                    </p>
                                    <a class="btn btn-primary" href="@item.Link">Explore Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }


    </div>
</section>
<!--slider area end-->
<!--shipping section start-->
<section class="shipping_section mb-102">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="shipping_inner d-flex justify-content-between">
                    <div class="single_shipping d-flex align-items-center">
                        <div class="shipping_icon">
                            <i class="icon-cursor icons"></i>
                        </div>
                        <div class="shipping_text">
                            <h3>Free Shipping</h3>
                            <p>Orders over $100</p>
                        </div>
                    </div>
                    <div class="single_shipping d-flex align-items-center">
                        <div class="shipping_icon">
                            <i class="icon-reload icons"></i>
                        </div>
                        <div class="shipping_text">
                            <h3>Free Returns</h3>
                            <p>Within 30 days</p>
                        </div>
                    </div>
                    <div class="single_shipping d-flex align-items-center">
                        <div class="shipping_icon">
                            <i class="icon-lock icons"></i>
                        </div>
                        <div class="shipping_text">
                            <h3>100% Payment Secure</h3>
                            <p>Payment Online</p>
                        </div>
                    </div>
                    <div class="single_shipping d-flex align-items-center">
                        <div class="shipping_icon">
                            <i class="icon-tag icons"></i>
                        </div>
                        <div class="shipping_text">
                            <h3>Affordable Price</h3>
                            <p>Guaranteed</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--shipping section end-->
<!-- banner section start -->
<section class="banner_section mb-109">
    <div class="container">
        <div class="section_title mb-60">
            <h2>featured collections</h2>
        </div>
        <div class="banner_container d-flex">
            @if (banner != null)
            {
                var banner1 = banner.Where(x => x.Position == "banner1").OrderBy(x => x.Priority).ToList();

                foreach (var item in banner1)
                {
                    <figure class="single_banner position-relative mr-30">
                        <img src="/images/banners/@item.ImageName" alt="@item.Title">
                        <figcaption class="banner_text position-absolute">
                            <h3>
                                @item.Title
                            </h3>
                            <p>
                                @item.Description
                            </p>
                            @if (!string.IsNullOrEmpty(item.Link))
                            {
                                <a class="btn btn-primary" href="@item.Link">Shop Now</a>
                            }
                        </figcaption>
                    </figure>
                }
            }

        </div>
    </div>
</section>
<!-- banner section end -->
<!-- product section start -->
<section class="product_section mb-96">
    <div class="container">
        <div class="product_header d-flex justify-content-between  mb-50">
            <div class="section_title">
                <h2>best selling items</h2>
            </div>
       
        </div>
        <div class="product_container row">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="all" role="tabpanel">
                    <div class="product_slick slick_slider_activation" data-slick='{
                            "slidesToShow": 4,
                            "slidesToScroll": 1,
                            "arrows": true,
                            "dots": false,
                            "autoplay": false,
                            "speed": 300,
                            "infinite": true,
                            "responsive":[
                              {"breakpoint":992, "settings": { "slidesToShow": 3 } },
                              {"breakpoint":768, "settings": { "slidesToShow": 2 } },
                              {"breakpoint":300, "settings": { "slidesToShow": 1 } }
                             ]
                        }'>
                        @if (bestSellingProducts != null && bestSellingProducts.Any())
                        {
                            @foreach (var item in bestSellingProducts)
                            {
                                <article class="col single_product">
                                    <figure>
                                        <div class="product_thumb">
                                            <a href="/Product/productdetails/@item.ProductId">
                                                <img class="primary_img" src="/images/products/@item.ImageName"
                                                     alt="@item.Title">
                                            </a>
                                            @if (item.Discount != null)
                                            {
                                                <div class="product_label">
                                                    @{
                                                        var discountPercentage = ((double)item.Discount / (double)item.Price) * 100;
                                                        <span>
                                                            %@discountPercentage.ToString("F0")
                                                        </span>
                                                    }

                                                </div>
                                            }
                                        </div>
                                        <figcaption class="product_content text-center">
                                            <h4 class="product_name">
                                                <a href="/Product/productdetails/@item.ProductId">
                                                    @item.Title
                                                </a>
                                            </h4>
                                            <div class="price_box">
                                                @if (item.Discount != null)
                                                {
                                                    <span class="current_price">$@(item.Price - item.Discount)</span>
                                                    <span class="old_price">$@item.Price</span>
                                                }
                                                else
                                                {
                                                    <span class="current_price">$@item.Price</span>
                                                }
                                            </div>

                                            <div class="add_to_cart">
                                                <a class="btn btn-primary" onclick="updateCart(@item.ProductId,1)" data-tippy="Add To Cart"
                                                   data-tippy-inertia="true" data-tippy-delay="50" data-tippy-arrow="true"
                                                   data-tippy-placement="top">Add To Cart</a>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </article>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- product section end -->
<!-- banner section start -->
<section class="banner_section banner_style2 mb-109">
    <div class="container-fluid">
        <div class="row">
            @if (banner != null)
            {
                var banner2 = banner.Where(x => x.Position == "banner2").OrderBy(x => x.Priority).ToList();
                @foreach (var item in banner2)
                {
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <figure class="single_banner position-relative">
                            <img src="/images/banners/@item.ImageName" alt="@item.Title">
                            <div class="banner_text position-absolute">
                                <h3>
                                    @item.Title
                                </h3>
                                <p>
                                    @item.Description
                                </p>
                                <a class="btn btn-primary" href="@item.Link">Shop Now</a>
                            </div>

                        </figure>
                    </div>
                }
            }
        </div>
    </div>
</section>
<!-- banner section end -->
<!-- product section start -->
<section class="product_section mb-80">
    <div class="container">
        <div class="product_header d-flex justify-content-between  mb-60">
            <div class="section_title">
                <h2>new arrivals</h2>
            </div>
  
        </div>
        <div class="product_container row">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="all2" role="tabpanel">
                    <div class="product_slick slick_slider_activation" data-slick='{
                            "slidesToShow": 4,
                            "slidesToScroll": 1,
                            "arrows": true,
                            "dots": false,
                            "autoplay": false,
                            "speed": 300,
                            "infinite": true,
                            "responsive":[
                              {"breakpoint":992, "settings": { "slidesToShow": 3 } },
                              {"breakpoint":768, "settings": { "slidesToShow": 2 } },
                              {"breakpoint":300, "settings": { "slidesToShow": 1 } }
                             ]
                        }'>
                        @if (newProducts != null && newProducts.Any())
                        {
                            @foreach (var item in newProducts)
                            {
                                <article class="col single_product">
                                    <figure>
                                        <div class="product_thumb">
                                            <a href="/Product/productdetails/@item.Id">
                                                <img class="primary_img" src="/images/products/@item.ImageName"
                                                     alt="@item.Title">
                                            </a>
                                            @if (item.Discount != null)
                                            {
                                                <div class="product_label">
                                                    @{
                                                        var discountPercentage = ((double)item.Discount / (double)item.Price) * 100;
                                                        <span>
                                                            %@discountPercentage.ToString("F0")
                                                        </span>
                                                    }

                                                </div>
                                            }
                                        </div>
                                        <figcaption class="product_content text-center">
                                            <h4 class="product_name">
                                                <a href="/Product/productdetails/@item.Id">
                                                    @item.Title
                                                </a>
                                            </h4>
                                            <div class="price_box">
                                                @if (item.Discount != null)
                                                {
                                                    <span class="current_price">$@(item.Price - item.Discount)</span>
                                                    <span class="old_price">$@item.Price</span>
                                                }
                                                else
                                                {
                                                    <span class="current_price">$@item.Price</span>
                                                }
                                            </div>

                                            <div class="add_to_cart">
                                                <a class="btn btn-primary" onclick="updateCart(@item.Id,1)" data-tippy="Add To Cart"
                                                   data-tippy-inertia="true" data-tippy-delay="50" data-tippy-arrow="true"
                                                   data-tippy-placement="top">Add To Cart</a>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </article>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- product section end --> 